@import "../../../assets/colors/colors";
@import "../../../assets/fonts/fonts";

.LoginPage{
  background-color: #fff;
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  --webkit-box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18),0 4px 15px 0 rgba(0,0,0,0.15) !important;
  box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18),0 4px 15px 0 rgba(0,0,0,0.15) !important;
  font-family: IRANSansWeb,sans-serif;

  &_alert{
    font-size: 14px;
    margin: 15px 10px;
    //color: $text-color;
    text-align: center;
    background-color:#F9F0BF ;
    border: none;
    padding: 7px 0px;
  }

  &_errorAlert{
    margin: 5px 10px ;
    padding: 5px 0;
    border: none;
    text-align: center;
    font-size: 14px;
    color: rgb(224, 0, 0);
    background-color: #F8D7DA;
  }

  &_inputWrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 25px;
    max-width: 230px;
    align-self: center;
    width: 100%;

    input{
      align-self: stretch;
      padding: 2px 8px;
    }
  }

  &_phoneInput{
    align-self: stretch;

    input{
      width: 100% ;
      letter-spacing: .8px;
    }
  }

  &_LoginBtn{
    border: none;
    background-color: $Color-c;
    padding: 5px 20px;
    color: #fff;
    border-radius: 5px;
    min-width: 250px;
    align-self: center;
    margin-top: 10px;
    --webkit-box-shadow: 0 7px 12px 0 rgba(0,0,0,0.18),0 5px 15px 0 rgba(0,0,0,0.15) !important;
    box-shadow: 0 7px 11px 0 rgba(0,0,0,0.18),0 7px 15px 0 rgba(0,0,0,0.15) !important;

    &:hover{
      --webkit-box-shadow: 0 4px 10px 0 rgba(0,0,0,0.18),0 4px 14px 0 rgba(0,0,0,0.15) !important;
      box-shadow: 0 4px 11px 0 rgba(0,0,0,0.18),0 4px 15px 0 rgba(0,0,0,0.15) !important;
    }
  }
  &_alertWrapper{
    text-align: right;
    margin: 15px 0;
    background-color: #D6F8D0;
    padding: 10px 20px;

    button{
      background: none;
      border: none;
      outline: none;
      font-size: 14px;
      //color: $primary-color;

    }
  }
  &_editWrapper{
    display: flex;
    margin-top: 5px;
    flex-direction: column;

    button{
      &:focus{

        outline: none;
      }
    }

    input{
      border: none;
      padding: 3px;

      outline: none;
      letter-spacing: .8px;
      margin-left:7px ;
    }
  }

  &_editNum{
    text-align: right;
    margin-bottom: 5px;
  }
  &_editForm{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;

    button{
      background-color: #fff;
      padding: 3px 7px;
      border: 2px solid green;
      border-radius: 3px;
      color: green;
      --webkit-box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18),0 4px 15px 0 rgba(0,0,0,0.15) !important;
      box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18),0 4px 15px 0 rgba(0,0,0,0.15) !important
    }
  }

  &_serverAlert{
    text-align: center;
    color: rgb(228, 15, 15);
    font-size: 14px;
    margin-bottom: 10px;
  }

  &_form{
    text-align: right;
    display: flex;
    flex-direction: column;

    label{
      direction: rtl;
    }
  }
  &_resendWrapper{
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    margin: 15px 0;

    button{
      border:none;
      background: none;
      //color: $primary-color;
      margin-left: 3px;
    }
  }
}
