@font-face {
  font-family: 'B-Nazanin';
  font-style: normal;
  src: local('B-Nazanin'), url('./Iran/BNazanin/BNazanin.ttf') format('truetype');
}
@font-face {
  font-family: 'B-NaznnBd';
  font-style: normal;
  src: local('B-NaznnBd'),url('./Iran/BNazanin/BNaznnBd.ttf');
}
@font-face {
  font-family: 'B-Titr';
  font-style: normal;
  src: local('B-Titr'),url('./Iran/BTitr/BTitrBd.ttf');
}
@font-face {
  font-family: 'IRANSansWeb';
  font-style: normal;
  src: local('IRANSansWeb'),url('./Iran/IranSans/IRANSANS.TTF');
}

