@import '../../../assets/colors/colors';
@import "../../../assets/fonts/fonts";

.SetInfo{
  max-width: 500px;
  background-color: #fff;
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  --webkit-box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18),0 4px 15px 0 rgba(0,0,0,0.15) !important;
  box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18),0 4px 15px 0 rgba(0,0,0,0.15) !important;
  font-size: 16px;
  font-family: IRANSansWeb,sans-serif;


  @media (max-width:500px) {
    margin-top: 450px;
  }

  input{
    text-align: right;
    direction: rtl;
    padding: 2px 8px;
    border: solid 1px $Color-c!important;
  }

  &_form{
    display: flex;
    flex-flow: column wrap;
  }
}



.formItem{
  display: flex !important;
  flex-flow: column !important;
  margin-left: 10px!important;

  label{
    margin-bottom: 5px!important;
    margin-top: 10px!important;
  }
}

.SelectGender{
  width: 200px!important;
}

.line{
  display: flex;
  flex-flow: row-reverse!important;

  @media (max-width: 500px) {
    display: flex!important;
    flex-flow: column!important;
    justify-content: center!important;
  }
}

.btnSubmitS{
  font-size: 16px;
  border: none;
  background-color: $Color-b;
  padding: 5px 20px;
  color: #fff;
  border-radius: 5px;
  min-width: 100px;
  align-self: center;
  margin-top: 10px;
  --webkit-box-shadow: 0 7px 12px 0 rgba(0,0,0,0.18),0 5px 15px 0 rgba(0,0,0,0.15) !important;
  box-shadow: 0 7px 11px 0 rgba(0,0,0,0.18),0 7px 15px 0 rgba(0,0,0,0.15) !important;

  &:hover{
    --webkit-box-shadow: 0 4px 10px 0 rgba(0,0,0,0.18),0 4px 14px 0 rgba(0,0,0,0.15) !important;
    box-shadow: 0 4px 11px 0 rgba(0,0,0,0.18),0 4px 15px 0 rgba(0,0,0,0.15) !important;
  }
}

.description{
  font-size: 10px;
  margin-right: 5px;
  direction: rtl;
  margin-top: 10px;
}

.leftInput{
  text-align: left!important;
  direction: ltr!important;
}

.rulesMedia{
  margin-right: 5px;

  @media (max-width: 500px) {
    margin-right: 30px;
  }

}

.borderError{
  border:solid 1px red!important;
}
